{# templates/admin/admin_edit.html.twig #}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('../assets/styles/admin_edit.css') }}">
{% endblock %}
{% block body %}

    <h1>Admin Edit</h1>
    <div id=adminId admin-id-data={{ admin.id }}></div>
    <div id="routeData" data-admin_list-route="{{ localized_path('show_All_admins') }}"></div>
    <div id="body">
    
    <form action="#"  enctype="multipart/form-data">

        <label for="surname">Surname</label>
        <input type="text" id="surname" name="surname" required maxlength="{{ NAME_MAX_LENGTH }}" value="{{ admin.surname }}"><br>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required maxlength="{{ NAME_MAX_LENGTH }}" value="{{ admin.name }}"><br>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required maxlength="{{ NAME_MAX_LENGTH }}" value="{{ admin.username }}"><br>
        <label for="phoneNumber">Phone Number</label>
        <input type="number" id="phoneNumber" name="phoneNumber" required maxlength="{{ NAME_MAX_LENGTH }}" value="{{ admin.phoneNumber }}"><br>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required maxlength="{{ NAME_MAX_LENGTH }}" value="{{ admin.email }}"><br>
        <fieldset>
            <legend>Choose Employee's Positions</legend>

            <label>
                <input type="checkbox" name="roles[]" value="ROLE_WAREHOUSEMAN" 
                {% if 'ROLE_WAREHOUSEMAN' in admin.roles %} checked {% endif %}>
                Warehouseman
            </label><br>

            <label>
                <input type="checkbox" name="roles[]" value="ROLE_WAREHOUSE_MANAGER" 
                {% if 'ROLE_WAREHOUSE_MANAGER' in admin.roles %} checked {% endif %}>
                Warehouse Manager
            </label><br>

            <label>
                <input type="checkbox" name="roles[]" value="ROLE_TRANSLATOR" 
                {% if 'ROLE_TRANSLATOR' in admin.roles %} checked {% endif %}>
                Translator
            </label><br>

            <label>
                <input type="checkbox" name="roles[]" value="ROLE_EVENT_MANAGER" 
                {% if 'ROLE_EVENT_MANAGER' in admin.roles %} checked {% endif %}>
                Event Manager
            </label><br>

            <label>
                <input type="checkbox" name="roles[]" value="ROLE_ACCOUNTING" 
                {% if 'ROLE_ACCOUNTING' in admin.roles %} checked {% endif %}>
                Accounting
            </label><br>
            <label>
                <input type="checkbox" name="roles[]" value="ROLE_ADMIN" 
                {% if 'ROLE_ADMIN' in admin.roles %} checked {% endif %}>
                Administrator
            </label>
        </fieldset>
        <div class="buttons">
        <button type="button" id="saveButton" onclick="save_()">Save</button>
        <button type="button" id="backButton" onclick="backToAdmins()">Back to Admins</button>
        <script src="{{ asset('../assets/adminEdit.js') }}"></script>
    </form>
    </div>
{% endblock %}