{# templates/product_list.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Seznam produktů</title>
    <link rel="stylesheet" href="{{ asset('../assets/styles/app.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div id='MAX_ARTICLES_COUNT_PER_PAGE' max_articles_count_per_page_value={{ MAX_ARTICLES_COUNT_PER_PAGE }}><div>
    <div id='NAME_MAX_LENGTH' name_max_length_value={{ NAME_MAX_LENGTH }}></div>
    <div id='CONTENT_MAX_LENGTH' content_max_length_value={{ CONTENT_MAX_LENGTH }}></div>
    {% if app.user %}
        {{ app.user.name ?: '' }} {{ app.user.surname ?: '' }}
    {% endif %} <a href="/{{ app.user ? 'logout' : 'login' }}">{{ app.user ? 'Logout' : 'Login' }}</a>
    <h1>
    <a href="{{ localized_path('show_All_products') }}">Seznam produktů</a>
    <a href="{{ localized_path('home') }}" class="home-link">🏠 Domů</a>
    </h1>
    
    
    <form id="search">
        <label for="searchInput"></label>
        <input type="hidden" id="current-locale" value="{{ app.request.get('_locale') }}">
        <input type="text" id="searchInput" name="searchInput" class= "searchInput" placeholder="Search Product">
        <button type="button" id="searchButton" onclick="search_()" >Vyhledávání</button>
    </form>
    <script src="{{ asset('../assets/search.js') }}"></script>
    <table>
        <tr id="product_list_header">
            <td>Jméno</td>
            <td>Kategorie</td>
            <td>Množství</td>
            <td>Přidat čas</td>
            <td>Cena</td>
            <td>Upravit</td>
            <td>Vymazat</td>
        </tr>
        {% set ids = '' %}
        {% for product in products %}
            {% set ids = ids ~ product.id ~ ',' %}
            <tr id="{{ product.id }}" data-edit-route="{{ localized_path('product_edit', {'id': product.id}) }}"> 
            {# <tr id="{{ product.id }}" data-edit-route="{{ localized_path('save_product') }}"> #}
                </div>
                <td class="product-name">{{ product.name }}</td> 
                <td class="product-name">{{ product.category }}</td>
                <td class="number-in-stock">{{ product.numberInStock }}</td> 
                <td class="add-time">{{ product.addTime }}</td> 
                <td class="price">{{ product.price }}</td> 
                <td class="editButton"><span class="edit-button" type="button" onclick="edit({{ product.id }})"><i class="fa-regular fa-pen-to-square" style="color: green;"></i></span></td>
                <td class="deleteButton"><span class="delete-button" type="button" onclick="delete_({{ product.id }})"><i class="fas fa-trash" style="color: red;"></i></span></td>
            </tr>
        {% endfor %}
        <div id="ids" data-ids="{{ ids }}" style="display: none;"></div>
    </table>
    
    <div class="buttons">
        <button id="previousPageButton" type="button" onclick="previousPage()">Předchozí</button>
        <button id="nextPageButton" type="button" onclick="nextPage()">Další</button>
        <span id="pageCount">Počet stránek</span>
        <button class="popup" onclick="openCreateForm()">Vytvořit produkt</button>
        <div class="category-buttons">
            <button class="categoryPopup" onclick="openCategoryAddForm()">Přidat kategorii</button>
            <button class="modifyCategoryPopup" onclick="openModifyCategoryForm()">Upravit kategorii</button>
        </div>
        <div class="color-buttons">
            <button class="colorPopup" onclick="openColorAddForm()">Přidat barvu</button>
            <button class="modifyColorPopup" onclick="openModifyColorForm()">Upravit barvu</button>
        </div>
        <div class="size-buttons">
            <button class="sizePopup" onclick="openSizeAddForm()">Přidat velikost</button>
            <button class="modifySizePopup" onclick="openModifySizeForm()">Upravit velikost</button>
        </div>
    </div>
    
    <div class="popuptext" id="myPopup" style="display: none;">
        <div id="routeData" data-create-route="{{ localized_path('create_product') }}" {# data-edit-route="{{ localized_path('edit_product') }}" #}></div>
        <form action="#" oninput="enableCreateButton()">
            <label for="name">Jméno</label>
            <input type="text" id="name" name="name" required maxlength="{{ MAX_ARTICLES_COUNT_PER_PAGE }}"><br>
            <label for="sku">SKU</label>
            <input type="text" id="sku" name="sku" required maxlength="{{ MAX_ARTICLES_COUNT_PER_PAGE }}"><br>
            <label for="number_in_stock">Číslo skladem</label>
            <input type="text" id="number_in_stock" name="number_in_stock">
            <label for="price">Cena v Kč</label>
            <input type="text" id="price" name="price">
            <button type="button" id="createButton" onclick="create()" disabled>Vytvořit</button>
            <button id="cancelButton" type="button" onclick="cancelCreateForm()" style="display: none;">Zrušit</button>
        </form>
    </div>
    <div class="popuptext" id="myCategoryPopup" style="display: none;">
        <form action="#" oninput="enableCategoryAddButton()">
            <label for="categoryName">Název kategorie</label>
            <input type="text" id="categoryName" name="categoryName" required maxlength="{{ MAX_ARTICLES_COUNT_PER_PAGE }}"><br>
            <button type="button" id="addCategoryButton" onclick="createCategory()" disabled>Vytvořit</button>
            <button id="cancelCategoryAddButton" type="button" onclick="cancelCreateForm()" style="display: none;">Zrušit</button>
        </form>
    </div>
    
    <div class="popuptext" id="myColorPopup" style="display: none;">
        <form action="#" oninput="enableColorAddButton()">
            <!-- 颜色名称输入框 -->
            <label for="colorName">Název barvy</label>
            <input type="text" id="colorName" name="colorName" required maxlength="50"><br>

            <!-- 颜色代码选择器 -->
            <label for="colorHex">Barva Hex</label>
            <input type="color" id="colorHex" name="colorHex" value="#FFFFFF" required><br>

            <!-- 创建按钮 -->
            <button type="button" id="addColorButton" onclick="createColor()" disabled>Vytvořit</button>
            <button id="cancelColorAddButton" type="button" onclick="cancelCreateForm()" style="display: none;">Zrušit</button>
        </form>
    </div>
    <div class="popuptext" id="myModifyColorPopup" style="display: none;">
        <form action="#" oninput="enableModifyColorButton()">
            <label for="modifyColorSelect">Vybrat Barvu</label>
            <select id="modifyColorSelect" name="modifyColorSelect">
                {% for color in colors %}
                    <option value="{{ color.id }}" data-hex="{{ color.hex }}">{{ color.name }}</option>
                {% endfor %}
            </select><br>

            <label for="newColorName">Nové jméno</label>
            <input type="text" id="newColorName" name="newColorName" required maxlength="50"><br>

            <label for="newColorHex">Nová barva</label>
            <input type="color" id="newColorHex" name="newColorHex" value="#FFFFFF"><br>

            <button type="button" id="modifyColorButton" onclick="modifyColor()" disabled>Upravit</button>
            <button id="cancelModifyColorButton" type="button" onclick="cancelModifyColorForm()">Zrušit</button>
            
        </form>
    </div>

    <div class="popuptext" id="mySizePopup" style="display: none;">
        <form action="#" oninput="enableSizeAddButton()">
            <label for="sizeName">Název velikosti</label>
            <input type="text" id="sizeName" name="sizeName" required maxlength="50"><br>

            <button type="button" id="addSizeButton" onclick="createSize()" disabled>Vytvořit</button>
            <button id="cancelSizeAddButton" type="button" onclick="cancelCreateForm()">Zrušit</button>
        </form>
    </div>

    <!-- 修改 Size 的弹窗 -->
    <div class="popuptext" id="myModifySizePopup" style="display: none;">
        <form action="#" oninput="enableModifySizeButton()">
            <label for="modifySizeSelect">Vybrat Velikost</label>
            <select id="modifySizeSelect" name="modifySizeSelect">
                {% for size in sizes %}
                    <option value="{{ size.id }}">{{ size.name }}</option>
                {% endfor %}
            </select><br>

            <label for="newSizeName">Název nové velikosti</label>
            <input type="text" id="newSizeName" name="newSizeName" required maxlength="50"><br>

            <button type="button" id="modifySizeButton" onclick="modifySize()" disabled>Upravit</button>
            <button id="cancelModifySizeButton" type="button" onclick="cancelModifySizeForm()">Zrušit</button>
        </form>
    </div>

    <script src="{{ asset('../assets/productList.js') }}"></script>
    <script src="{{ asset('../assets/showPage.js') }}"></script>
    <script src="{{ asset('../assets/delete.js') }}"></script>

</body>
</html>
{% endblock %}