{# templates/product_list.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" href="{{ asset('../assets/styles/app.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div id='MAX_ARTICLES_COUNT_PER_PAGE' max_articles_count_per_page_value={{ MAX_ARTICLES_COUNT_PER_PAGE }}><div>
    <div id='NAME_MAX_LENGTH' name_max_length_value={{ NAME_MAX_LENGTH }}></div>
    <div id='CONTENT_MAX_LENGTH' content_max_length_value={{ CONTENT_MAX_LENGTH }}></div>
    {% if app.user %}
        {{ app.user.name ?: '' }} {{ app.user.surname ?: '' }}
    {% endif %} <a href="/{{ app.user ? 'logout' : 'login' }}">{{ app.user ? 'Logout' : 'Login' }}</a>
    <h1>Product List</h1>
    <form id="search">
        <label for="searchInput"></label>
        <input type="text" id="searchInput" name="searchInput" class= "searchInput" placeholder="Search Product">
        <button type="button" id="searchButton" onclick="search_()" >Search</button>
    </form>

    <table>
        <tr id="product_list_header">
            <td>Name</td>
            <td>Category</td>
            <td>Quantity</td>
            <td>Add Time</td>
            <td>Price</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        {% set productIds = '' %}
        {% for product in products %}
            {% set productIds = productIds ~ product.id ~ ',' %}
            <tr id="{{ product.id }}" data-edit-route="{{ path('product_edit', {'id': product.id}) }}"> 
            {# <tr id="{{ product.id }}" data-edit-route="{{ path('save_product') }}"> #}
                </div>
                <td class="product-name">{{ product.name }}</td> 
                <td class="product-name">{{ product.kategory }}</td>
                <td class="number-in-stock">{{ product.numberInStock }}</td> 
                <td class="add-time">{{ product.addTime }}</td> 
                <td class="price">{{ product.price }}</td> 
                <td class="editButton"><span class="edit-button" type="button" onclick="edit({{ product.id }})"><i class="fa-regular fa-pen-to-square" style="color: green;"></i></span></td>
                <td class="deleteButton"><span class="delete-button" type="button" onclick="delete_({{ product.id }})"><i class="fas fa-trash" style="color: red;"></i></span></td>
            </tr>
        {% endfor %}
        <div id="productIds" data-ids="{{ productIds }}" style="display: none;"></div>
    </table>
    
    <div class="buttons">
        <button id="previousPageButton" type="button" onclick="previousPage()">Previous</button>
        <button id="nextPageButton" type="button" onclick="nextPage()">Next</button>
        <span id="pageCount">Page Count </span>
        <button class="popup" onclick="openCreateForm()">Create Product</button>
        <button class="categoryPopup" onclick="openCategoryAddForm()">Add Category</button>
    </div>
    
    <div class="popuptext" id="myPopup" style="display: none;">
        <div id="routeData" data-create-route="{{ path('create_product') }}" {# data-edit-route="{{ path('edit_product') }}" #}></div>
        <form action="#" oninput="enableCreateButton()">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required maxlength="{{ MAX_ARTICLES_COUNT_PER_PAGE }}"><br>
            <label for="number_in_stock">Number in stock</label>
            <input type="text" id="number_in_stock" name="number_in_stock">
            <label for="price">Price in CZK</label>
            <input type="text" id="price" name="price">
            <button type="button" id="createButton" onclick="create()" disabled>Create</button>
            <button id="cancelButton" type="button" onclick="cancelCreateForm()" style="display: none;">Cancel</button>
        </form>
    </div>
    <div class="popuptext" id="myCategoryPopup" style="display: none;">
        <form action="#" oninput="enableCategoryAddButton()">
            <label for="categoryName">Category Name</label>
            <input type="text" id="categoryName" name="categoryName" required maxlength="{{ MAX_ARTICLES_COUNT_PER_PAGE }}"><br>
            <button type="button" id="addCategoryButton" onclick="createCategory()" disabled>Create</button>
            <button id="cancelCategoryAddButton" type="button" onclick="cancelCreateForm()" style="display: none;">Cancel</button>
        </form>
    </div>
    <script src="{{ asset('../assets/productList.js') }}"></script>
    <script src="{{ asset('../assets/showPage.js') }}"></script>
    <script src="{{ asset('../assets/delete.js') }}"></script>
    <script src="{{ asset('../assets/search.js') }}"></script>
</body>
</html>
