{% extends 'base.html.twig' %}

{% block title %}Order Detail - #{{ order.id }}{% endblock %}

{% block body %}
    <h1>{{ 'Order'|trans }} #{{ order.id }} {{ 'Detail'|trans }}</h1>

    <p><strong>Email</strong> {{ order.customer.email }}</p>
    <p><strong>Kontakt</strong><br>
        {% for line in order.address|split(';') %}
            {{ line|trim }}<br>
        {% endfor %}
    </p>
    <p><strong>Vytvořeno v</strong> {{ order.orderCreatedAt|date('Y-m-d H:i') }}</p>
    <p><strong>Součet</strong> {{ order.totalPrice }} {{ order.customer.preferredCurrency ?? 'CZK' }}</p>

    <h3>Objednávka položek</h3>
    <ul>
        {% for item in order.orderItems %}
            <li>
                {{ item.productName }} x {{ item.quantity }} = {{ item.unitPrice }} {{ order.customer.preferredCurrency ?? 'CZK' }}
            </li>
        {% endfor %}
    </ul>

    <a href="{{ localized_path('accounting_invoice_pdf', {id: order.id}) }}" class="btn btn-primary" target="_blank">Stáhnout PDF</a>
        <a href="{{ localized_path('accounting_invoice_send', {id: order.id}) }}" class="btn btn-success">Odeslat fakturu emailem</a>

{% endblock %}