{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h2>Translate Categories - {{ lang|upper }}</h2>

    <form action="{{ path('category_translation_submit', {'lang': lang}) }}" method="post">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Original Name</th>
                    <th>Translation ({{ lang|upper }})</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                            <input type="hidden" name="category_ids[]" value="{{ category.id }}">
                            <input type="hidden" name="original_names[]" value="{{ category.name }}">
                            <input type="text" name="translated_names[]" class="form-control" placeholder="Enter translation">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn btn-success">Save Translations</button>
    </form>
</div>
{% endblock %}