{% extends 'eshop_base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ asset('../assets/eshop_styles/homepage.css') }}">
    <div class="container">
        <div class="bar" id="nav-menu">
            {% for category in categories %}
                {# <span type="button" onclick="showCategory('{{category.name}}')">{{category.name}}</span> #}
                <a href="category/{{category.name}}">{{category.name}}<span></span></a>
            {% endfor %}
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for imageURL in shopInfo.carouselPictures %}
                <div class="swiper-slide" style="background-image: url('{{BMS_URL}}/images/{{ imageURL }}');">
                </div>
                {% endfor %}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Navigation -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

        <!-- Swiper CSS 和 JS -->
        
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <!-- 自定义 JavaScript -->
        
        <h2>New Products</h2>
        <div class="new_products_grid">
        {% for product in new_products %}
            <a href="{{path('show_eshop_product', {'id': product.id})}}"><img src="{{BMS_URL}}/images/{{ product.getImageUrls()[0] }}">
        {% endfor %}
        </div>
    </div>

    <script src="{{ asset('../assets/eshopHome.js') }}"></script>
{% endblock %}