{% extends 'eshop_base.html.twig' %}

{% block title %}Order Confirmation - {{ shopInfo.getEshopName() }}{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('../assets/eshop_styles/order-confirm.css') }}">
    <div class="order-confirmation">
        <h2>Order Confirmation</h2>

        <table>
            <tr>
                <td>My Order</td>
                <td><strong>Order ID:</strong> {{ order.getId() }}</td>
            </tr>
            {% for item in orderItems %}
                <tr class="item_product_name"><td>{{ item.getProductName() }} x{{ item.getQuantity() }}</td><td></td></tr>
                {% if not shopInfo.hidePrices %}
                    <tr><td>Subtotal:</td><td> {{ item.getSubtotal()|number_format(2) }}</td></tr>
                    <tr><td>Tax:</td><td> {{ item.getTaxAmount()|number_format(2) }}</td></tr>
                {% endif %}
            {% endfor %}
        </table>

        {% if not shopInfo.hidePrices %}
            <p><strong>Total Price:</strong> {{ order.getTotalPrice()|number_format(2) }} {{ order.getOrderItems().first().getProduct().getCurrency().getName() }}</p>
        {% endif %}

        <div class="order-actions">
            <button id="cancelOrderBtn">Cancel Order</button>
            <button id="confirmOrderBtn">Confirm Order</button>
        </div>

        <a href="{{ path('customer_cart', {'_locale': locale}) }}">Back to Cart</a>
    </div>

    <script src="{{ asset('../assets/eshopOrderConfirmation.js') }}"></script>
{% endblock %}