{% extends 'locale/CZ/eshop_base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ asset('../assets/eshop_styles/homepage.css') }}">
    <div class="container">
        <div class="bar" id="nav-menu">
            {% for category in categories %}
                <a href="{{ path('app_eshop_category', {'id': category.id}) }}">{{ category.name }}<span></span></a>
            {% endfor %}
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for imageURL in shopInfo.carouselPictures %}
                <div class="swiper-slide" style="background-image: url('{{BMS_URL}}/images/{{ imageURL }}');">
                </div>
                {% endfor %}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Navigation -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

        <!-- Swiper CSS 和 JS -->
        
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <!-- 自定义 JavaScript -->
        
        <h2>Nové produkty</h2>
        <div class="new_products_grid">
            {% for product in new_products %}
                <a href="{{ path('show_eshop_product', {'id': product.id}) }}" class="product-card">
                    <img src="{{ BMS_URL }}/images/{{ product.getImageUrls()[0] }}" alt="{{ product.name }}">
                    <div class="product-name">{{ product.name }}</div>
                    <div class="product-price">
                        {% if product.discount < 100 %}
                            {% set discountedPrice = (product.price * product.discount / 100) | number_format(2, '.', '') %}
                            {% set currency = product.getCurrency().getName %}
                            <div class="original-price"><span class="strikethrough">{{ product.price }} {{ currency }}</span></div>
                            <div class="discounted-price">{{ discountedPrice }} {{ currency }}</div>
                            <div class="discount-tag">{{ 100 - product.discount }}% SLEVA</div>
                        {% else %}
                            <div class="regular-price">{{ product.price }} {{ product.getCurrency().getName }}</div>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>

        <h2>Oblíbené produkty</h2>
        <div class="popular_products_grid">
            {% for product in popular_products %}
                <a href="{{ path('show_eshop_product', {'id': product.id}) }}" class="product-card">
                    <img src="{{ BMS_URL }}/images/{{ product.getImageUrls()[0] }}" alt="{{ product.name }}">
                    <div class="product-name">{{ product.name }}</div>
                    <div class="product-price">
                        {% if product.discount < 100 %}
                            {% set discountedPrice = (product.price * product.discount / 100) | number_format(2, '.', '') %}
                            {% set currency = product.getCurrency().getName %}
                            <div class="original-price"><span class="strikethrough">{{ product.price }} {{ currency }}</span></div>
                            <div class="discounted-price">{{ discountedPrice }} {{ currency }}</div>
                            <div class="discount-tag">{{ 100 - product.discount }}% SLEVA</div>
                        {% else %}
                            <div class="regular-price">{{ product.price }} {{ product.getCurrency().getName }}</div>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <script src="{{ asset('../assets/eshopHome.js') }}"></script>
{% endblock %}